<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/tabs/exercises"></ion-back-button>
    </ion-buttons>
    <ion-title>{{exercise?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img [src]="exercise?.images[0]"></ion-img>
      </ion-col>
      <ion-row>
        <ion-col *ngFor="let desc of exercise?.description">
          <h1>{{desc?.title}}</h1>
          <p>{{desc?.description}}</p>
        </ion-col>
      </ion-row>
    </ion-row>
  </ion-grid>
</ion-content>
